PORT=8008
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}/
BOOKING_SERVICE_URL=http://${BOOKING_SERVICE_HOST}:${BOOKING_SERVICE_PORT}
EVENTS_SERVICE_URL=http://${EVENTS_SERVICE_HOST}:${EVENTS_SERVICE_PORT}
